### 1. Створіть датафрейм розміром 15*5, що містить наступні дані:

а) ім'я та прізвище студента;

б) середній бал;

в) оцінка за поточний екзамен;

г) кількість спроб здачі поточного екзамену

In [7]:
import pandas as pd

In [8]:
data = {
    'Name': ['Иван Мурзин', 'Александр Сафонов', 'Вячеслав Трофимов', 'Дима Яковлев', 'Юлия Сазонова', 'Петр Александров',
             'Данил Журавлёв', 'Влад Усов', 'Руслан Иванов', 'Яна Спиридонова', 'Оксана Новикова', 'Серега Сафонов',
             'Петр Пушкин', 'Павел Ефимов', 'Кристина Хамитова'],
    'Avg_Grade': [90, 85, 92, 88, 80, 86, 85, 90, 96, 80, 92, 88, 90, 85, 92],
    'Exam_Grade': [11, 12, 11, 12, 10, 12, 11, 12, 12, 10, 12, 11, 12, 10, 12],
    'Attempts': [1, 2, 1, 3, 1, 3, 2, 1, 2, 2, 3, 4, 2, 1, 2]
}

df = pd.DataFrame(data)
print(df)

                 Name  Avg_Grade  Exam_Grade  Attempts
0         Иван Мурзин         90          11         1
1   Александр Сафонов         85          12         2
2   Вячеслав Трофимов         92          11         1
3        Дима Яковлев         88          12         3
4       Юлия Сазонова         80          10         1
5    Петр Александров         86          12         3
6      Данил Журавлёв         85          11         2
7           Влад Усов         90          12         1
8       Руслан Иванов         96          12         2
9     Яна Спиридонова         80          10         2
10    Оксана Новикова         92          12         3
11     Серега Сафонов         88          11         4
12        Петр Пушкин         90          12         2
13       Павел Ефимов         85          10         1
14  Кристина Хамитова         92          12         2

### 2. Додайте до датафрейму стовпчик, що містить дані про допуск студента на наступний курс.

In [11]:
df['Passed next Year'] = df['Exam_Grade'] >= 6
print(df)

                 Name  Avg_Grade  Exam_Grade  Attempts  Passed next Year
0         Иван Мурзин         90          11         1              True
1   Александр Сафонов         85          12         2              True
2   Вячеслав Трофимов         92          11         1              True
3        Дима Яковлев         88          12         3              True
4       Юлия Сазонова         80          10         1              True
5    Петр Александров         86          12         3              True
6      Данил Журавлёв         85          11         2              True
7           Влад Усов         90          12         1              True
8       Руслан Иванов         96          12         2              True
9     Яна Спиридонова         80          10         2              True
10    Оксана Новикова         92          12         3              True
11     Серега Сафонов         88          11         4              True
12        Петр Пушкин         90          12         2              True
13       Павел Ефимов         85          10         1              True
14  Кристина Хамитова         92          12         2              True

### 3. Виведіть мінімальний, максимальний, середній та медіанний показники середнього балу студентів.

In [12]:
print("Minimum Avg_Grade:", df['Avg_Grade'].min())
print("Maximum Avg_Grade:", df['Avg_Grade'].max())
print("Mean Avg_Grade:", df['Avg_Grade'].mean())
print("Median Avg_Grade:", df['Avg_Grade'].median())

Minimum Avg_Grade: 80
Maximum Avg_Grade: 96
Mean Avg_Grade: 87.93333333333334
Median Avg_Grade: 88.0

### 4. Виведіть кількість студентів, що здали поточний екзамен з першого разу.

In [16]:
num_passed_first_try = df[(df['Attempts'] == 1) & df['Passed next Year']].shape[0]
print("Кількість студентів, що здали поточний екзамен з першого разу:", num_passed_first_try)

Кількість студентів, що здали поточний екзамен з першого разу: 5

### 5. Збережіть будь-які дані з датафрейму у вигляді серії.

In [17]:
avg_grade_series = df['Avg_Grade']
print(avg_grade_series)

0     90
1     85
2     92
3     88
4     80
5     86
6     85
7     90
8     96
9     80
10    92
11    88
12    90
13    85
14    92
Name: Avg_Grade, dtype: int64